<!-- <h1>LOGIN</h1>
<h1>LOGIN</h1> -->
<!-- <div class="button" *ngIf="!menu">
  <button mat-raised-button color="primary" (click)="changeUser()">USER</button>
  <button mat-raised-button color="accent" (click)="changeRestaurant()">RESTAURANT</button>
</div>  -->
<!-- <div class="main"> -->
<!-- <app-header></app-header> -->
<ng-http-loader></ng-http-loader>

<div class="container-fluid log-in">
  <div class="row-1"></div>
  <div class="row-6 justify-content-center my-row">
    <div class="col-md-5 col-sm-11 col-xs-12 justify-content-center my-col"><br>
      <mat-tab-group mat-align-tabs="center"  class="main-box" >
        <mat-tab label="User"><br>
          <div class="view">
            <form class="f" [formGroup]="userForm">
                <mat-form-field>
                  <input matInput type="text" placeholder="Email" formControlName="mailId" required>
                  <mat-error *ngIf="fval.mailId.errors">Enter Valid Email</mat-error>
                </mat-form-field>
        
                <mat-form-field>
                  <input matInput type="password" placeholder="Password" formControlName="userPassword" required>
                  <mat-icon matSuffix svgIcon="error-24px" aria-hidden="false" aria-label="Example thumbs up SVG icon"
                    matTooltip=" Must Contain Number, Capital, Small, Special Character "></mat-icon>
                  <mat-error *ngIf="fval.userPassword.errors">Enter Valid Password </mat-error>
                </mat-form-field><br>
        
                <div class="button">
                  <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="loginUser()">Login</button>
                  <button mat-raised-button color="accent" type="reset">Reset</button>
                </div>
              </form>
              <div style=" display: flex; justify-content: center; flex-direction: column;">
                  <button class="btn btn" href="/users/googleauth" role="button" (click)="socialUser()"
                    style="text-transform:none;">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px;" alt="Google sign-in"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                  </button></div>
              </div>
        </mat-tab>
        <mat-tab label="Restaurant">
          <div> 
            <form class="f" [formGroup]="restaurantForm">
                <br>
                <mat-form-field>
                  <input matInput type="text" placeholder="Email" formControlName="mailId" required>
                  <mat-error *ngIf="fval1.mailId.errors">Enter Valid Email</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="password" placeholder="Password" formControlName="restaurantPassword" required>
                  <mat-icon matSuffix svgIcon="error-24px" aria-hidden="false" aria-label="Example thumbs up SVG icon"
                    matTooltip=" Must Contain Number, Capital, Small, Special Character "></mat-icon>
                  <mat-error *ngIf="fval1.restaurantPassword.errors">Enter Password</mat-error>
                </mat-form-field><br>
                <div class="button">
                  <button mat-raised-button color="primary" [disabled]="restaurantForm.invalid"
                    (click)="restaurantLogin()">Login</button>
                  <button mat-raised-button color="accent" type="reset">Reset</button>
                </div><br><br>
              </form>
            </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<router-outlet></router-outlet>





<!-- 
<mat-tab-group class="main-box" dynamicHeight>
 
  <mat-tab label="USER">
      
    <div class="user-box mat-elevation-z4"><br>
      <form class="f" [formGroup]="userForm">
        <mat-form-field>
          <input matInput type="text" placeholder="Email" formControlName="mailId" required>
          <mat-error *ngIf="fval.mailId.errors">Enter Valid Email</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="userPassword" required>
          <mat-icon matSuffix svgIcon="error-24px" aria-hidden="false" aria-label="Example thumbs up SVG icon"
            matTooltip=" Must Contain Number, Capital, Small, Special Character "></mat-icon>
          <mat-error *ngIf="fval.userPassword.errors">Enter Valid Password </mat-error>
        </mat-form-field>

        <div class="button">
          <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="loginUser()">Login</button>
          <button mat-raised-button color="accent" type="reset">Reset</button>
        </div>
      </form>
      <div style=" display: flex; justify-content: center; flex-direction: column;">
        <h6 style="text-align: center;">Don't have account ? <a routerLink="/signup">Register</a></h6>
      </div>
      <div style=" display: flex; justify-content: center; flex-direction: column;">
        <button class="btn btn" href="/users/googleauth" role="button" (click)="socialUser()"
          style="text-transform:none;">
          <img width="20px" style="margin-bottom:3px; margin-right:5px;" alt="Google sign-in"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          Login with Google
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="RESTAURANT">
    <div class="restaurant-box mat-elevation-z4">
      <form class="f" [formGroup]="restaurantForm">
        <br>
        <mat-form-field>
          <input matInput type="text" placeholder="Email" formControlName="mailId" required>
          <mat-error *ngIf="fval1.mailId.errors">Enter Valid Email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="restaurantPassword" required>
          <mat-icon matSuffix svgIcon="error-24px" aria-hidden="false" aria-label="Example thumbs up SVG icon"
            matTooltip=" Must Contain Number, Capital, Small, Special Character "></mat-icon>
          <mat-error *ngIf="fval1.restaurantPassword.errors">Enter Password</mat-error>
        </mat-form-field>
        <div class="button">
          <button mat-raised-button color="primary" [disabled]="restaurantForm.invalid"
            (click)="restaurantLogin()">Login</button>
          <button mat-raised-button color="accent" type="reset">Reset</button>
        </div>
      </form>
    </div>
  </mat-tab>
</mat-tab-group> -->